@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/*General styling*/
*{
    margin:0;
    padding:0;
    font-family: 'Roboto Mono', monospace;
    color:white;
}
.container{
    width:75%;
    margin-left:auto;
    margin-right: auto;
}
section{
    padding: 3rem 0;
}
/*Header and footer styling*/
header,
footer {
    background-color: rgba(0, 0, 0, 0.699);
    padding:0.5rem 0;
    font-style: italic;
}
header .container{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
header ul{
    list-style: none;
    display:flex;
    gap:15px;
}
li a{
    text-decoration: none;
}
footer{
    display:flex;
    justify-content: center;
}

/*Section one styling*/
.one{
    background-image: url(./images/carbon_fibre.jpg);
}
.one .container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.one .container div *{
    margin-bottom: 0.5rem;
    font-size:18px;
}
.one .container div h1{
    font-size:32px;
}
.one img {
    width: 350px;
    height: auto;
}
button{
    background-color: rgb(160 164 169);
    font-size:1rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border:0;
    border-radius: 15px;
    color:white;
    border:solid 2px white;
}

/*Section two styling*/
.two *{
    color:#101113;
}
.two h2{
    margin: 0 auto;
    width: max-content;
    margin-bottom:0.5rem;
}
.cards {
    display:flex;
    text-align: center;
    justify-content: space-around;
    padding:0.5rem;
}
.cards div{
    width: 20%;
    display:flex;
    flex-direction: column;
}
.two img{
    border-radius: 10px;
}

/* Section three styling*/
.three{
    background-image: url(./images/prism.png);
}
.three .container{
    display:flex;
    justify-content: center;
}
.three figure{
    width: 70%;
    font-size: 18px;
    font-style: italic;
}
.three figcaption{
    text-align: right;
}

/*Section four styling*/
.four {
    display: flex;
    justify-content: center;
}
.four .container{
    background-color: rgb(100 103 106);
    border-radius: 15px;
    padding:1.5rem;
    display: flex;
    justify-content: center;
    gap:1rem;
    font-size:18px;
}