*{
    margin:0;
    padding:0;
}
/*Header styling*/
header {
    display:flex;
    justify-content:space-between;
    background-color: rgb(77, 219, 255);
    align-items: center;
    padding:0.5rem;
}
header ul{
    list-style: none;
    display:flex;
    gap:10px;
}
li a{
    text-decoration: none;
    color:black;
}

/*Section one styling*/
.one{
    display:flex;
    align-items: center;
    background-color: rgb(140, 140, 140);
    padding:0.5rem;
    justify-content: space-around;
}
.one div *{
    margin-bottom: 0.5rem;
    color:white;
}
.one img {
    width: 300px;
    height: auto;
}
button{
    background-color: rgb(0, 102, 204);
    font-size:1rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border:0;
    border-radius: 15px;
    color:white;
    border:solid 2px white;
}

/*Section two styling*/
.two h2{
    margin: 0 auto;
    width: max-content;
}
.cards {
    display:flex;
    text-align: center;
    padding:0.5rem;
}
.two img{
    width: 150px;
    height: auto;
    border-radius: 10px;
}

/* Section three styling*/
.three{
    background-color: #E5E7EB;
    padding:1rem;
    display:flex;
    justify-content: center;
}
.three figure{
    width: 400px;
}
.three figcaption{
    text-align: right;
}

/*Section four styling*/
.four {
    padding:1rem;
    display: flex;
    justify-content: center;
}
.four .container{
    background-color: rgb(0, 102, 204);
    width: 500px;
    color: white;
    border-radius: 15px;
    padding:0.5rem;
    display: flex;
}

/*Footer styling*/
footer{
    background-color: rgb(77, 219, 255);
    display:flex;
    justify-content: center;
}